html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #1b2840;
  color: white;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #040b17;
  align-items: center;
  padding-left: clamp(20px, 5vw, 130px);
  padding-right: clamp(20px, 5vw, 130px);
}

@media (max-width: 700px) {
  .nav-icons {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
  }

  .nav-icons {
    margin-left: 0;
    margin-top: 10px;
  }
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  font-weight: bold;
  border: none;
  transition: background-color 0.2s;
  font-size: 18px;
}

.navbar a.brand {
  font-size: 20px;
}

.navbar a:hover {
  background-color: #2a3043;
}

.navbar a.ayden {
  color: darkgoldenrod;
}

.nav-icons {
  display: contents;
}

.nav-icons a:first-child {
  margin-left: auto;
}

@media (max-width: 500px) {
  .nav-icons a:first-child {
    margin-left: 0;
  }
}

.fa-github {
  font-size: 26px;
  color: white;
}

.fa-linkedin {
  font-size: 26px;
  color: white;
}

.content h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 0;
}

.small-projects-content h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 0;
}

.content h2 {
  font-size: 30px;
  color: #606060;
}

.small-projects-content h2 {
  font-size: 30px;
}

.content p {
  font-size: 24px;
}

hr {
  height: 2px;
  border: 0;
  background-color: #2265ae;
}

.content {
	margin-left: 150px;
	margin-right: 150px;
    padding: 2rem;
}

@media (max-width: 1400px) {
  .content{
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 1100px) {
  .content{
    margin-left: 5px;
    margin-right: 5px;
  }
}

.small-projects-content {
  margin-left: 150px;
  margin-right: 150px;
  padding: 2rem;
}

section {
  margin-bottom: 100px;
}

.section-body {
  margin-top: 30px;
  margin-bottom: 30px;
}

.headshot, .appstate {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.headshot {
  border-radius: 20px;
}

#home {
  background-color: #040b17;
  border-radius: 20px;
  display: flex;
  gap: 40px;
  padding: 50px;
}

@media (max-width: 900px) {
  #home {
    flex-wrap: wrap;
  }
  .edu-content {
    flex-wrap: wrap;
  }
}

#description {
  margin-top: 30px;
  display: inline-block;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #0f223e;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

#about {
  background-color: #040b17;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
}

.resume-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #1c72ff;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.resume-btn:hover {
  background-color: #145bcc;
}

#education {
  background-color: #040b17;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
}

.appstate {
  order: -1; /* pushes image above text once wrapped */
  margin-top: 50px;
}

.edu-content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  text-align: left;
}

.edu-content h2 {
  color: white;
  font-size: 40px;
}

.edu-content h3 {
  color: grey;
  font-size: 30px;
}

#experience {
  background-color: #040b17;
  padding: 50px;
  border-radius: 20px;
  text-align: left;
}

#experience h2 {
  color: white;
  font-size: 40px;
}

#experience h3 {
  color: grey;
  font-size: 30px;
}

#projects {
  background-color: #040b17;
  padding: 50px;
  border-radius: 20px;
  text-align: left;
}

#projects h2 {
  color: white;
  font-size: 40px;
}

#projects h3 {
  color: grey;
  font-size: 30px;
}

.projects-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #1c72ff;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.projects-btn:hover {
  background-color: #145bcc;
}

#certifications {
  background-color: #040b17;
  padding: 50px;
  border-radius: 20px;
  text-align: left;
}

.fa-envelope {
  font-size: 50px;
}

.fa-phone {
  font-size: 50px;
}

.footer {
  background-color: #373636;
  width: 100%;
  padding-block: 2.5rem 3.5rem;
}

.address {
  padding-left: 100px;
}
@media (max-width: 500px) {
  .address {
    padding-left: 50px;
  }
}

@media (max-width: 500px) {
  .content h1 {
    font-size: 35px;
  }
  .content h2 {
    font-size: 20px;
  }
  .content h3 {
    font-size: 15px;
  }
  .content p {
    font-size: 12px;
  }

  #experience h2,
  #projects h2 {
    font-size: 22px;
  }

  #experience h3,
  #projects h3 {
    font-size: 17px;
  }
}